

.bg-banner {
    padding: 0;
    background: url(../img/split.jpg) no-repeat center center ;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    overflow: hidden;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    font-size: 0.8em;
}

@media screen and (min-width: 576px) {
    .text-content h1 {
        font-size: 8em;
        z-index: 1;
        position: relative;
    }

}

@media screen and (orientation: landscape) {

    .text-content h1 {
    font-size: 2.5em !important;
    }

}
.welcome {
    font-weight: 800;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(255, 70, 85);
    width: auto;

}

.phoenix {
    position: relative;
}

.phoenix::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: var(--green);
    border-radius: 50%;
}

.content-banner .text-content h1 {
    color: white;
    font-family: "Anton";
}

.content-banner .text-content p {
    color: #fff;
}

.phoenix {
    transition: 0.9s ease-out;

}
.phoenix:hover {
    transform: rotate(4deg);
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}

    .phoenix img {
        width: 300px;
    }

.z-1 {
    z-index: 1;
}

.z--1 {
    z-index: 0;
}

