

.bg-banner {
    padding: 0;
    background: url(../img/split.jpg) no-repeat center center ;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    overflow: hidden;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    font-size: 1em;
    margin-bottom: 20px;
    z-index: 10;
}

.text-content h1 {
    font-size: 1.9em;
    position: relative;
}

.text-content p {
    font-size: 1em;
}

@media screen and (min-width: 576px) {
    .text-content h1 {
        font-size: 3.5em;
        z-index: 1;
        position: relative;
    }
}
@media screen and (min-width: 1200px){
.text-content p {
    font-size: 1.1em;
}
}

.welcome {
    font-weight: 800;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(255, 70, 85);
    width: auto;

}

.phoenix {
    position: relative;
    transition:0.9s cubic-bezier(0, 3.6, 1, -0.6);
}
.phoenix:hover {
    transform:scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}
.phoenix img::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--green);
    border-radius: 50%;
}

.content-banner .text-content h1 {
    color: white;
    font-family: "Anton";
}

.content-banner .text-content p {
    color: #fff;
}



    .phoenix img {
        width: 300px;
    }

.z-1 {
    z-index: 1;
}

.z--1 {
    z-index: 0;
}

