
@media (orientation: landscape) {
    .bg-banner{
        font-size: 0.9em;
        background: url(../img/bg-banner-mobile.jpeg) no-repeat center center !important;
        background-size: cover !important;
    }
    .text-content {
    padding-top: 50px;

    }
  }

@media (min-width: 992px) {
    .bg-banner {
        font-size: 1.2em;
    }
}

.bg-banner {
    padding: 0;
    background: url(../img/valorant1.png) no-repeat center center !important;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    
}
.text-content h1 {
    font-size: 2.2em !important;
}

.text-content p {
    font-size: 0.8em;
}

.welcome {
    font-size: 10px;
    font-weight: 800;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(255, 70, 85);
    width: auto;

}




.bg-banner .text-content h1::before {
    content: "Nous sommes valorant";
    font-family: "valorant-font";
    z-index: -1 !important;
    font-size: 6em;
    top:-100px;
    right: 0;
    bottom: 10px;
    position: absolute;
    line-height: 0.8em;
    opacity: 0.09;

}

.content-banner .text-content h1 {
    color: white;
    font-family: "valorant-font";
    font-size: 3.5em;
}

.content-banner .text-content p {
    color: #fff;
}

.phoenix {
    margin-top: 15%;
    transition: 0.9s ease-out;

}
.phoenix:hover {
    transform: rotate(4deg);
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}

.z-1 {
    z-index: 1;
}

.z--1 {
    z-index: 0;
}


 @media (min-width: 992px) {
    .mt-lg-20 {
        margin-top: 20%;
     }
 }