@import url(https://lolstatic-a.akamaihd.net/webfonts/live/css/valorant/fonts.css);
@import url(https://fonts.googleapis.com/css?family=Anton|Black+Han+Sans|Kanit:700|Noto+Sans+HK:900|Noto+Sans+JP:700|Noto+Sans+SC:700|Noto+Sans+TC:700|Oswald:700&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,thai,vietnamese);

* { 
cursor: url(../cur/white.cur), auto  !important;   
} 

body {
    font-family: "DIN Next LT W04 Medium", sans-serif;
    background-color: #ece7e1;
    background-image: url(../img/body.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.bg-111 {
    background-color: #111;
}

h1 span {
    font-family: "valorant-font";
}
a:hover {
    color: white;
}

button {
    border: 0;
    cursor: url(../cur/pinckle.cur), auto !important;   
}

/* font-valorant */
.f-valo {
    font-family: "valorant-font";
}
/* style title */
h1, h2, h3, h4, h5, h6 {
    font-family: "Tungsten";
    z-index: 2;
    text-transform: uppercase;
}

.container {
    border-left: 2px solid #969493;
}


/* SEPARATOR */
.separator {
    margin: 15px;
    background-color: rgb(255, 70, 85);
    width: 20px;
    height: 20px;
}

.box-s1 {
    box-shadow: -90px 70px 1px #343d4696;
}.box-s2 {
    box-shadow: -16px -98px 1px #343d4696}


    .btn-style {
        font-size: 12px;
        font-weight: 800;
        border-radius: 2px;
        padding: 12px;
        color: #0f1923;
        text-transform: uppercase;
        background-color: #ece7e1;
        width: auto;
        background-image: linear-gradient(to left,transparent,transparent 50%,rgb(255, 70, 85) 50%,rgb(255, 70, 85));
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all .25s ease-in;
    
    }
    
    .btn-style:hover {
        color: white;
        background-position: 0;
    }



